@import './home.css';

.page--blog main {
  display: block;
}

.blog-page {
  padding: 26px 0 0;
}

.blog-page__breadcrumbs {
  margin: 0 0 42px;
}

.blog-page__title {
  margin: 0 0 26px;
  font-size: 28px;
  line-height: 1.05;
  text-transform: uppercase;
}

.blog-grid {
  margin-bottom: 70px;
}

.blog-page__pagination.catalog-products__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  padding: 18px 0 0;
  font-size: 18px;
  color: #7f8a9c;
}

.blog-page__pagination.catalog-products__pagination .is-current {
  color: #111;
}

.blog-page__pagination.catalog-products__pagination .arrow {
  width: 14px;
  height: 14px;
  display: block;
  object-fit: contain;
}

.blog-page__pagination.catalog-products__pagination .arrow--right {
  transform: rotate(180deg);
}

@media (max-width: 1180px) {
  .blog-page__pagination.catalog-products__pagination {
    font-size: 14px;
  }

  .blog-page__pagination.catalog-products__pagination .arrow {
    width: 10px;
    height: 10px;
  }
}

@media (max-width: 720px) {
  .blog-page {
    padding-top: 18px;
  }

  .blog-page__breadcrumbs {
    margin-bottom: 28px;
  }

  .blog-page__title {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .blog-grid {
    margin-bottom: 0px;
  }

  .blog-page {
    margin-bottom: 30px;
  }
  
}
